// FUENTE
    /* Google fonts */
    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


    $heading-font: "Rubik", serif;
    $body-font :  "Roboto", serif;

//FONT SIZE
    $h1-font-size: 7.2rem;
    $h2-font-size: 4.8rem;  
    $h3-font-size: 3.2rem;
    $h4-font-size: 2.4rem;
    $h5-font-size: 2rem;
    $normal-font-size: 1.8rem;

    $h1-font-size-mobile: 3.2rem;
    $h2-font-size-mobile: 2.8rem;
    $h3-font-size-mobile: 2rem;
    $h4-font-size-mobile: 1.8rem;
    $h5-font-size-mobile: 1.8rem;
    $normal-font-size-mobile: 1.8rem;

// MEDIA QUERIES
    $phone: 576px;
    $tablet: 768px;
    $desktop: 1200px;
    $desktop-lg: 1400px;

 // COLORS 
    $yellow-1: #FFCB4D;
    $yellow-2: #FFB400;
    $yellow-3: #D99900;
    $green-1: #BCD6C3;
    $green-2: #83A38C;
    $green-3: #66796B;
    $beige-1: #FCEBD8;
    $beige-2: #ECD9C2;
    $beige-3: #BBA893;
    $gray-1: #E3E3E3;
    $gray-2: #B2B2B2;
    $gray-3: #7B7B7B;
    $gray-4: #494949;
    $shadow: rgba(31, 31, 31, 0.75);
    $background: #252525;
    $black: #000000;
    $white: #FFFFFF;
    $white-2: #F3F3F3;

    $white-transparent: rgba(243, 243, 243, 0.7);

// BOX-SHADOW
    $box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.30);

// BORDER-RADIUS
    $border-radius: 2rem;

